@font-face {
    font-family: 'MarkPro';
    src: url(../fonts/Font_markpro/MarkPro-Regular.eot);
    src: url(../fonts/Font_markpro/MarkPro-Regular.eot?#iefix) format("embedded-opentype"), url(../fonts/Font_markpro/MarkPro-Regular.woff2) format("woff2"), url(../fonts/Font_markpro/MarkPro-Regular.woff) format("woff"), url(../fonts/Font_markpro/MarkPro-Regular.ttf) format("truetype"), url(../fonts/Font_markpro/MarkPro-Regular.svg) format("svg");
    font-weight: 400;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: 'SVN-ConquerorDidot';
    src: url('../fonts/ConquerorDidot/SVN-ConquerorDidot.eot');
    src: url('../fonts/ConquerorDidot/SVN-ConquerorDidot.eot?#iefix') format('embedded-opentype'), url('../fonts/ConquerorDidot/SVN-ConquerorDidot.woff') format('woff'), url('../fonts/ConquerorDidot/SVN-ConquerorDidot.ttf') format('truetype'), url('../fonts/ConquerorDidot/SVN-ConquerorDidot.svg#SVN-ConquerorDidot') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}


body {
    font-size: 14px;
    color: #262626;
    font-family: 'MarkPro';
    color: #1c1c1c;
    overflow-x: hidden
}

* {
    margin: 0;
    padding: 0;
    border: none;
}

img, .img {
    max-width: 100%;
    max-height: 100%;
}

a:hover {
    text-decoration: none;
}

.font-initial {
    font-family: initial;
}

.list_style_none {
    list-style: none;
    padding: 0;
    margin: 0;
}

.color_fff {
    color: #fff !important;
}

.navbar-brand > img {
    display: block;
}

#header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 75px;
    z-index: 99;
    box-shadow: 1px 1px 2px rgba(88, 88, 90, 0.3);
}

#logo {
    display: inline-block;
    width: 300px;
    height: 52px;
    float: left;
    text-indent: -9999%;
    margin: 0;
}

#logo a {
    display: block;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    float: left;
    height: 100%;
}

.dropdown_item li a {
    line-height: 24px !important;
    padding: 5px 10px !important;
    width: 100%;
    display: block;
}

#logo img {
    width: 100%;
    height: 100%;
}

.header__desktop {
    background: url(../images/bg_header.png);
    background-size: cover;
}

.header__desktop--box {
    display: flex;
    justify-content: space-between;
    padding: 15px 0 10px;
}

.main__menu--ul .item {
    position: relative;
}

.main__menu--ul .item a {
    color: #fff;
    padding: 15px;
    text-transform: uppercase;
    font-size: 15px;
}

.main__menu--ul .item a.active {
    font-weight: bold;
}

.main__menu--ul .dropdown_item a {
    color: #1c1c1c;
    font-size: 16px
}

.header li.subMenu:hover > .dropdown-menu {
    display: block;
}

.header .dropdown-menu {
    padding: 5px 0;
    margin: 0 !important;
    min-width: 220px;
}

.main__menu {
    display: flex;
    align-items: center;
}

.main__menu--ul {
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
}


/* css main */
#main {
    background: #000;
    margin-top: 75px;
}

.videof, .videot {
    width: 100%;
    height: 100%;
}

.video {
    position: relative;
}

.content_video {
    position: absolute;
    bottom: 40px;
    left: 0;
    width: 100%;
    text-align: center;
}

.content_video .title {
    color: #fff;
    letter-spacing: 5px;
    font-size: 24px;
}

.content_video .intro {
    color: #fec48e;
    font-size: 48px;
}

.content_video .span {
    margin-left: 70px
}

.content_video .intro span {
    line-height: 50px;
}

.letter {
    padding: 50px 30px 0 0;
}

#letter__box, #products__box, #order__box, .footer__box {
    background: url(../images/bg_letter.png);
    background-size: cover;
    padding: 150px 0;
}

#order__box {
    height: 800px
}

#products__box {
    padding: 150px 0 100px;
}

#gift__box, #products--limitted__box, #form__box, #reviews__box {
    background: url(../images/bg_gift.png);
    background-size: cover;
    padding: 150px 0 100px;
}

#products--limitted__box {
    padding: 150px 0 120px;
}

#reviews__box {
    padding: 200px 0 100px;
}

.section__box {
    position: relative;
}

.section__box:before, .footer__box:before {
    content: '';
    height: 10px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.1);
}

.section__box#video__box:before, .section__box#letter__box:before {
    content: none;
}

.title_letter {
    font-family: 'SVN-ConquerorDidot';
    font-size: 48px;
    color: #ffc07e;
    margin-bottom: 25px;
}

.owl-dots {
    position: absolute;
    bottom: -30px;
    display: flex;
    justify-content: center;
    z-index: 9;
    width: 100%;
}

.owl-dot {
    background: #e3bcaf !important;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    margin: 0 5px;
}

.owl-dot.active {
    background: #faf8fa !important;
}

.owl-dot:focus {
    outline: none;
}

.item__box img {
    width: 100%;
    max-width: 300px;
}

.title__box a {
    max-width: 230px;
    margin: 0 auto
}

.infor__box {
    display: none;
    background: rgba(43, 78, 75, 0.5);
    color: #fff;
    border-radius: 50px;
    margin-top: 50px;
    padding-bottom: 20px
}

.list__item {
    text-align: left;
    padding: 20px 30px 0 50px;
    height: 147px;
    overflow: hidden;
    margin-bottom: 20px
}

.infor__box .price span {
    display: block;
    border-radius: 30px;
    color: #d9bfa8;
    border: 1px solid;
    width: 300px;
    margin: 0 auto;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    text-transform: uppercase
}

.title__box {
    margin-top: 80px;
    font-size: 16px;
    margin-bottom: 0;
}

.title__box a {
    display: flex;
    border-radius: 5px;
    border: 1px solid #fff;
}

.title__box .title__box--span {
    color: #fff;
    padding: 10px 12px;
    display: inline-block;
    font-size: 22px;
    width: calc(100% - 50px);
}

.icon__double {
    display: flex;
    color: #1c1c1c;
    background: #dcbda5;
    width: 50px;
    justify-content: center;
    align-items: center;
    border-radius: 5px 0 0 5px;
}

.products__box--title {
    font-size: 25px;
    color: #fff;
    margin-bottom: 50px;
    letter-spacing: 5px;
}

.intro__product {
    color: #fff;
    text-align: justify;
    text-align-last: center;
}

.title_product a {
    color: #fff;
}

.item__product > a {
    display: block;
    height: 265px;
    margin-bottom: 40px;
    text-align: center;
}

.title_product {
    font-size: 22px;
    line-height: 28px;
    min-height: 56px;
    margin-bottom: 10px;
}

.purchase__steps--detail {
    margin-top: 35px;
}

.purchase__steps--title {
        font-family: 'SVN-ConquerorDidot';
    font-size: 52px;
    max-width: 600px;
    color: #ecc390
}

.purchase__steps--list {
    margin-top: 40px;
    margin-bottom: 40px;
}

.purchase__steps--list li {
    margin-bottom: 30px;
}

.purchase__steps--list li:last-child {
    margin-bottom: 0
}

.form__box {
    max-width: 460px;
    margin: 0 auto;
}

.form__box--title {
    font-size: 22px;
    line-height: 28px;
    margin-bottom: 10px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.form__register input,.form__register textarea {
    padding: 10px;

    background: none;
    border: none;
    border-bottom: 1px solid #fff;
    border-radius: 10px;
    color: #fff;
    text-align: center;
}

.form__register input:focus,.form__register textarea:focus {
    box-shadow: none;
    border: none;
    background: none;
    border-bottom: 1px solid #fff;
    color: #fff;

}

.submit__form {
    display: flex;
    border-radius: 5px;
    border: 1px solid #fff;
    background: none;
    height: 48px;
    line-height: 48px;
    margin: 50px auto 0;
}

.submit__form:focus {
    outline: none;
}

.submit__form .submit__form--span {
    color: #fff;
    padding: 0 12px;
    display: inline-block;
    font-size: 22px;
    width: calc(100% - 50px);
}

.submit__form .icon__double {
    height: 100%
}

.form__register {
    margin-top: 50px;
    text-align: center;
}

.form__register label {
    color: #fff;
    margin-bottom: 15px;
}

.list__checkbox {
    display: flex;
    width: 100%;
}

.item__checkbox {
    width: calc(100% / 3);
    padding-left: 25px;
}

.item__checkbox label {
    display: inline-block;
    cursor: pointer;
}

.item__checkbox input {
    display: none;
}

.item__checkbox label:before {
    content: '';
    cursor: pointer;
    vertical-align: bottom;
    /* average checkbox styling */
    line-height: 1.1em;
    font-weight: bold;
    text-align: center;
    font-size: 24px;
    background: none;
    border: 1px solid #fff;
    border-radius: 5px;
    width: 26px;
    height: 26px;
    box-sizing: border-box;
    display: inline-block;
    margin-right: 10px;
}

.item__checkbox input:checked + label:before {
    content: '\2713';
    color: #fff;
}

.item__checkbox input:checked + label {
    color: #fff;
}

.box__reviews--title {
        font-family: 'SVN-ConquerorDidot';
    font-size: 32px;
    color: #ecc390;
}

.box__reviews {
    max-width: 450px;
    margin: 0 auto;
}

.list__reviews {
    margin-top: 35px;
}

.reviews__post--content {
    margin-top: 50px;
}

.name_customer {
    margin: 30px 0;
}

#footer {
    background: #000
}

.list__location--header {
    font-size: 25px;
    margin-bottom: 10px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.list_social_footer li i {
    width: 50px;
    height: 50px;
    color: #fff;
    border-radius: 100%;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    transition: all .5s ease;
}

.list_social_footer li a.youtube i {
    background: #cc181e
}

.list_social_footer li a.instagram i {
    background: #8442b2
}

.list_social_footer li a.facebook i {
    background: #3a5795
}

.list_social_footer li {
    margin-right: 30px;
    color: #fff;
}

.list_social_footer li a:hover i {
    transform: rotate(360deg);
    border-radius: 0;
}

.list__location {
    max-width: 500px;
    float: right;
    z-index: 1;
    min-height: 500px;
}

.footer__box {
    height: 800px;
}

.bg_footer {
    background: url(../images/bg_footer.png);
    background-size: 70% 100%;
    background-position: 0 100%;
    position: absolute;
    background-repeat: no-repeat;
    left: 0;
    top: 0;
    height: calc(100% - 10px);
    width: 100%;
    margin-top: 10px;
}

.order__box--bg {
    background: url(../images/bg_order.png);
    background-size: 100% 100%;
    background-position: 0 100%;
    position: absolute;
    background-repeat: no-repeat;
    left: 0;
    top: 0;
    height: calc(100% - 10px);
    width: 100%;
    margin-top: 10px
}

.social__box {
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
}

.order__box--title {
        font-family: 'SVN-ConquerorDidot';
    font-size: 48px;
    color: #ffc07e;
    margin-bottom: 10px;
    line-height: 48px;
}

.order__box--content {
    width: 100%;
    max-width: 600px;
    float: right;
    text-align: center;
    z-index: 9;
    position: relative
}

.promotion__intro {
    font-size: 20px;
}

.promotion {
    color: #ccb7a1;
    font-size: 26px;
}

.sale_clock {
    display: flex;
    border: 1px solid #9c9284;
    border-radius: 25px;
    margin-top: 60px;
    padding: 20px 0;
}

.sale_clock .clock {
    display: inline-block;
    line-height: 1;
    padding: 20px;
    font-size: 50px;
    width: 25%;
    position: relative;
}

.sale_clock span {
    display: block;
    font-size: 20px;
    color: #fff;
    margin-top: 10px
}

.sale_clock .clock:not(:last-child):after {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -5px;
    font-size: 40px;
    content: ":"
}

.btn__box__now {
    color: #21474a;
    background: #d1bba4;
    border-radius: 40px;
    width: 100%;
    max-width: 400px;
    margin: 50px auto 0;
    display: block;
    height: 55px;
    line-height: 55px;
    font-size: 26px;
    transition: .2s ease all
}

.btn__box__now:hover, .btn__box__now:focus {
    color: #21474a;
    background: #cbad8d
}

@media (min-width: 1200px) {
    .product__limited--list {
        padding: 0 200px;
    }

    .product__limited--list .item__product {
        padding: 0 23px;
    }
}

@media (min-width: 1200px) and (max-width: 1366px) {
    .content_video .intro img {
        max-height: 100px
    }
}

@media (min-width: 1300px) {
    .container {
        max-width: 1310px;
    }
}

@media (min-width: 1600px) {
    .content_video .intro img {
        height: 150px
    }

    .container {
        max-width: 1470px
    }

    .title_letter {
        font-size: 52px
    }

    #gift__box {
        padding: 200px 0 100px;
    }

    #reviews__box {
        padding: 235px 0 100px;
    }

    .title_product, .form__box--title {
        font-size: 25px
    }

    .title__box .title__box--span {
        font-size: 25px;
        height: 55px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .item__box img {
        width: 100%;
        max-width: 340px;
    }

    .title__box a {
        max-width: 270px;
    }

    .form__register {
        margin-top: 60px;
    }

    .submit__form {
        height: 55px;
        line-height: 55px;
        margin: 60px auto 0;
    }

    .submit__form .submit__form--span {
        display: inline-block;
        font-size: 25px;
        padding: 0 12px;
    }

    .box__reviews {
        max-width: 500px;
    }

    .box__reviews--title {
        font-size: 36px;
    }

    .list__reviews {
        margin-top: 40px;
    }

    .reviews__post--content {
        margin-top: 60px;
    }

    .footer__box {
        height: 1000px;
    }

    .order__box--content {
        max-width: 700px;
    }

    .product__limited--list {
        max-width: 1280px;
        margin: 0 auto
    }

    .promotion__intro {
        font-size: 22px;
        padding: 0 50px
    }

    .promotion {
        font-size: 28px
    }

    .sale_clock {
        margin-top: 60px;
        padding: 55px 0
    }

    #order__box {
        height: 1000px;
        padding-top: 200px
    }

    .btn__box__now {
        max-width: 450px;
        margin: 65px auto 0;
        display: block;
        height: 60px;
        line-height: 60px;
        font-size: 28px
    }

    .list__item {
        font-size: 18px
    }

    .infor__box .price span {
        width: 330px;
        height: 55px;
        line-height: 55px;
        font-size: 22px
    }

    .list__item {
        height: 212px;
        margin-bottom: 20px
    }
}

@media (min-width: 1920px) {
    .list__item {
        height: 158px
    }

    .container {
        max-width: 1770px
    }

    #order__box {
        height: 1080px
    }

    .box__reviews {
        max-width: 600px;
    }

    .box__reviews--title {
        font-size: 42px;
    }

    .footer__box {
        height: 1060px;
    }

    .list_social_footer li i {
        width: 60px;
        height: 60px;
        line-height: 60px;
    }

    .order__box--content {
        max-width: 830px
    }

    .btn__box__now {
        max-width: 500px;
        margin: 80px auto 0;
        display: block;
        height: 80px;
        line-height: 80px;
        font-size: 40px
    }
}

@media (max-width: 1024px) {
    .content_video {
        bottom: 20px;
        display: none;
    }
    #main {
        margin-top: 64px;
    }

    .block1024 {
        display: block !important;
    }

    .hidden1024 {
        display: none !important;
    }

    .header {
        background: url(../images/bg_header.jpg);
        background-size: cover;
    }

    .main__menu--ul.mobile_menu .item a {
        color: #1c1c1c;
    }

    .sm_menu_outer {
        height: auto;
    }

    header .logo-port {
        padding-left: 0;
        width: 250px;
        margin-top: 12px;
    }

    #sm_menu_ham span {
        background: #fff;
    }

    .letter {
        padding: 0;
    }

    .title_product {
        min-height: unset;
    }

    .item__product > a {
        margin-bottom: 25px;
    }

    .item__product {
        margin-bottom: 40px;
    }

    .purchase__steps--title {
        font-size: 40px;
    }

    .box__reviews--title {
        font-size: 26px;
    }

    .list__reviews {
        margin-top: 25px;
    }

    .list__location--header {
        font-size: 21px
    }

    .footer__box {
        height: 700px;
    }

    .item__checkbox {
        padding-left: 5px;
    }
    .order__box--bg{background-size: contain;}
}

@media (min-width: 992px) and (max-width: 1024px) {
    .item__box img {
        max-width: 250px;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .content_video .title {

        font-size: 20px;
        line-height: 24px;
        margin-bottom: 5px;
    }

    .content_video .intro {
        font-size: 36px;
    }

    .content_video .intro span {
        line-height: 36px;
    }

}

@media (max-width: 992px) {
    .letter {
        margin-bottom: 30px;
    }

    .title__box {
        margin-top: 40px;
    }

    .item__box {
        margin-bottom: 70px;
    }

    .purchase__steps, .reviews__post {
        margin-bottom: 50px;
    }

    .purchase__steps--title {
        font-size: 36px;
        text-align: center;
        max-width: 100%;
    }

    .bg_footer {
        background-size: 100% 100%;
    }

    .list__location {
        max-width: 100%;
        float: none;
    }
}

@media (max-width: 767px) {
    .content_video .title {

        letter-spacing: 3px;
        font-size: 18px;
        margin-bottom: 5px;
    }

    .content_video .intro {
        font-size: 28px;
    }

    .content_video .intro span {
        line-height: 28px;
    }

    .item__product {
        margin-bottom: 40px
    }

    .item__product > a {
        margin-bottom: 15px;
    }

    .title_product {
        min-height: unset;
    }

    #letter__box, #products__box, #order__box, .footer__box {
        background: url(../images/bg_letter.png);
        background-size: cover;
        padding: 100px 0;
    }

    #letter__box {
        padding-top: 50px;
    }

    #gift__box .row .col-lg-4:last-child .item__box, #products__box .row .col-12:last-child .item__product, .product__limited .row .col-12:last-child .item__product {
        margin-bottom: 0;
    }

    #products--limitted__box {
        padding: 100px 0;
    }

    .list__location {
        min-height: 420px;
    }

    .footer__box {
        height: auto;
        min-height: 500px;
        padding: 50px 0 30px !important;
    }

    .list__checkbox--box p {
        color: #fff;
    }

    .title__box .title__box--span {
        font-size: 19px;
    }

    #header {
        height: 70px;
    }

    .videof, .videot {
        margin-top: 90px;
    }

    #main {
        margin-top: -20px;
    }

    .item__checkbox {
        padding-left: 10px;
    }

    .purchase__steps--title {
        font-size: 40px;
    }
    .popup{
        max-width: 300px;
    }
}



.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    /* transition: opacity 500ms; */
    /* opacity: 0; */
    width: 100%;
    height: 100%;
    display: none;
    z-index: 999;
}

.popup {
    /* margin: 70px auto; */
    padding: 20px;
    background: #fff;
    border-radius: 5px;
        width: 400px;
    height: 200px;
    position: relative;
    transition: all 5s ease-in-out;
    transform: translate(-50%,-50%);
    color: #1c1c1c;
    top: 50%;
    left: 50%;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
    max-height: 300px;
    overflow: auto;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    width: 100%;
}